<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415983434678-c3khi0vso6p4vh2cgh82irbri10f02vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415983434678-c3khi0vso6p4vh2cgh82irbri10f02vj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415983434678-q9cmlv7j2gn76ccpjcnqhs33kqsmgd59.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCH7XJeZSjTvUGVh5Xgh2rYMZD51z6azS0</string>
	<key>GCM_SENDER_ID</key>
	<string>415983434678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kigya.mindplex</string>
	<key>PROJECT_ID</key>
	<string>mindplex-6ee2d</string>
	<key>STORAGE_BUCKET</key>
	<string>mindplex-6ee2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415983434678:ios:3973d1aa7815ea8af51f17</string>
</dict>
</plist>